
<h2>Showing all photos in this album:</h2>

<div data-ng-repeat="photo in AlbumShowViewModel.album.photos">
  <p>Timestamp: {{photo.timestamp}}</p>
  <p>Comment: {{photo.comment}}</p>
  <img data-ng-src="{{photo.photo_url}}">

  <!-- edit forms -->
  <h3>Edit</h3>
  <form data-ng-submit="AlbumShowViewModel.update()">
    <input value="Timestamp" data-ng-model="AlbumShowViewModel.album.photos[$index].timestamp">
    <input value="Comment" data-ng-model="AlbumShowViewModel.album.photos[$index].comment">
    <input value="Photo URL" data-ng-model="AlbumShowViewModel.album.photos[$index].photo_url">
    <button type="submit">Update</button>
  </form>

</div>
