
<h2>{{AlbumShowViewModel.album.album_title}} Album</h2>

<h3>Add Photo to this Album</h3>
<form data-ng-submit="AlbumShowViewModel.create()">
  <input placeholder="Timestamp" data-ng-model="AlbumShowViewModel.newPhoto.timestamp">
  <input placeholder="Comment" data-ng-model="AlbumShowViewModel.newPhoto.comment">
  <input placeholder="Photo URL" data-ng-model="AlbumShowViewModel.newPhoto.photo_url">
  <button type="submit">Add Photo</button>
</form>


<div data-ng-repeat="photo in AlbumShowViewModel.album.photos">
  <p>Timestamp: {{photo.timestamp}}</p>
  <p>Comment: {{photo.comment}}</p>
  <img class="listed_photos" data-ng-src="{{photo.photo_url}}">

  <!-- edit forms -->
  <h3>Edit</h3>
  <form data-ng-submit="AlbumShowViewModel.update()">
    <input value="Timestamp" data-ng-model="AlbumShowViewModel.album.photos[$index].timestamp">
    <input value="Comment" data-ng-model="AlbumShowViewModel.album.photos[$index].comment">
    <input value="Photo URL" data-ng-model="AlbumShowViewModel.album.photos[$index].photo_url">
    <button type="submit">Update</button>
  </form>
  <!-- delete photo -->
  <button data-ng-click="AlbumShowViewModel.delete($index)">Delete</button>

</div>
