

<h1 class="undernav">{{AlbumShowViewModel.album.album_title}} Album</h1>


<form data-ng-submit="AlbumShowViewModel.create()">
  <h3>Add new photo:
    <input placeholder="Timestamp" data-ng-model="AlbumShowViewModel.newPhoto.timestamp">
    <input placeholder="Comment" data-ng-model="AlbumShowViewModel.newPhoto.comment">
    <input placeholder="Photo URL" data-ng-model="AlbumShowViewModel.newPhoto.photo_url">
    <button type="submit"> + </button></h3>
  </form>


  <div data-ng-repeat="photo in AlbumShowViewModel.album.photos">

    <div class="photo_content">
      <i class="fa fa-calendar" aria-hidden="true"></i> <p>{{photo.timestamp}}</p><br>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <p>{{photo.comment}}</p>
    </div>
    <img class="listed_photos" data-ng-src="{{photo.photo_url}}">

    <!-- edit forms -->
    <div class="editform">
      <h3>Edit Content</h3>
      <form data-ng-submit="AlbumShowViewModel.update()">
        <input value="Timestamp" data-ng-model="AlbumShowViewModel.album.photos[$index].timestamp">
        <input value="Comment" data-ng-model="AlbumShowViewModel.album.photos[$index].comment">
        <input value="Photo URL" data-ng-model="AlbumShowViewModel.album.photos[$index].photo_url">
        <button type="submit">Update</button>
        <button data-ng-click="AlbumShowViewModel.delete($index)">Delete</button>
      </form>
      <!-- delete photo -->
    </div>

  </div>
